<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SolarPanelApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body style="background-color: black;">

    <!-- PAGE-->
    <div style="background-color: white; width: 960px; margin-left: auto; margin-right: auto;">
      
      <!-- HEADER-->
      <h1 style="text-align: center; background-color: yellow; padding: 10px;">
        Calcular el vatiaje de tus paneles solares
      </h1>

      <!-- FORM-->
      <div style="width: 90%; margin-left: auto; margin-right: auto;">
        <form class="row g-3" action="/submit-form" method="post">
             <!-- Input 1 -->
            <div class="col-auto">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Temperatura:</label>
                </div>
                <div class="col-auto">
                  <input name="temperatura" type="number" step=".01" id="temperatura" class="form-control" aria-describedby="passwordHelpInline" placeholder="Celcius">
                </div>
              </div>
            </div>
            <!-- Input 2 -->
            <div class="col-auto">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Irradiancia:</label>
                </div>
                <div class="col-auto">
                  <input name="irradiancia" type="number" step=".01" id="irradiancia" class="form-control" aria-describedby="passwordHelpInline" placeholder="Vatios">
                </div>
              </div>
            </div>
            <!-- Button -->
            <div class="col-auto">
              <button type="submit" class="btn btn-success mb-3">
                CALCULAR
              </button>
            </div>
        </form>
      </div>

      <!-- IMG-->
      <div>
        <img src="https://img.freepik.com/premium-vector/solar-panel-isolated-white-background-flat-style-outline-concept-illustration-renewable-solar-energy_285336-2690.jpg" width="960px" height="700px;" />
      </div>

    </div>
    <!-- PAGE-END -->

    <!-- LIBRARIES-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>